<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改中央电中')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-middle-edit" th:object="${centerMiddle}">
            <input name="centerId" th:field="*{centerId}" type="hidden">
            <div class="form-group" th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('isupdate') == ''}">
                <label class="col-sm-3 control-label">操作人：</label>
                <div class="col-sm-8">
                    <select name="userId" class="form-control m-b" th:with="type=${@user.getAllUser()}">
                        <option th:each="user : ${type}" th:text="${user.userName}" th:value="${user.userId}" th:field="*{userId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">招生老师：</label>
                <div class="col-sm-8">
                    <input name="centerTeacher" th:field="*{centerTeacher}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="centerName" th:field="*{centerName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <select name="centerSex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{centerSex}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">民族：</label>
                <div class="col-sm-8">
                    <input name="centerNation" th:field="*{centerNation}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证号码：</label>
                <div class="col-sm-8">
                    <input name="centerIdnumber" th:field="*{centerIdnumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">层次：</label>
                <div class="col-sm-8">
                    <select name="centerLevel" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_level')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{centerLevel}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报读学校：</label>
                <div class="col-sm-8">
                    <select name="centerSchool" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_school')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{centerSchool}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报读专业：</label>
                <div class="col-sm-8">
                    <select name="centerMajor" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_major')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{centerMajor}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报名时间：</label>
                <div class="col-sm-8">
                    <input name="centerTime" th:field="*{centerTime}" class="form-control" type="text">
                </div>
            </div>
            <div th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('showFee') == ''}">
            <div class="form-group">    
                <label class="col-sm-3 control-label">总费用：</label>
                <div class="col-sm-8">
                    <input name="centerTotalCharge" th:field="*{centerTotalCharge}" class="form-control" type="text">
                </div>
            </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">缴费详情：</label>
                <div class="col-sm-8">
                    <select name="centerChargeDetail" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_charge')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{centerChargeDetail}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">证书编号：</label>
                <div class="col-sm-8">
                    <input name="centerCertificateNumber" th:field="*{centerCertificateNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">毕业情况：</label>
                <div class="col-sm-8">
                    <select name="centerGraduateDetail" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_grade')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{centerGraduateDetail}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注信息：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control" th:field="*{remark}"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "bussiness/middle";
        $("#form-middle-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-middle-edit').serialize());
            }
        }
    </script>
</body>
</html>