<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增职业资格证')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-certificate-add">
            <div class="form-group" th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('isupdate') == ''}">
                <label class="col-sm-3 control-label">操作人：</label>
                <div class="col-sm-8">
                    <select name="userId" class="form-control m-b" th:with="type=${@user.getAllUser()}">
                        <option th:each="user : ${type}" th:text="${user.userName}" th:value="${user.userId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">函授站：</label>
                <div class="col-sm-8">
                    <select name="jobCorrespondence" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_correspondence')}">
                        <option value="-">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">招生老师：</label>
                <div class="col-sm-8">
                    <input name="jobTeacher" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="jobName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <select name="jobSex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">民族：</label>
                <div class="col-sm-8">
                    <input name="jobNation" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证号码：</label>
                <div class="col-sm-8">
                    <input name="jobIdnumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出证部门：</label>
                <div class="col-sm-8">
                    <input name="jobOutdept" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">工种：</label>
                <div class="col-sm-8">
                    <select name="jobTypework" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_work')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上报时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="jobIntime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('showFee') == ''}">
            <div class="form-group">    
                <label class="col-sm-3 control-label">总费用：</label>
                <div class="col-sm-8">
                    <input name="jobTotalCharge" class="form-control" type="text">
                </div>
            </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">缴费情况：</label>
                <div class="col-sm-8">
                    <select name="jobChargeDetail" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_charge')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注信息：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "bussiness/certificate"
        $("#form-certificate-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-certificate-add').serialize());
            }
        }

        $("input[name='jobIntime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>