<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('国家开放大学列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>操作人：</p>
                                <input type="text" name="userName"/>
                            </li>
                            <li>
                                <p>合作站：</p>
                                <select name="collaborationStation" th:with="type=${@dict.getType('sys_edu_correspondence')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('showcost') == ''}">
                                <p>合作费用：</p>
                                <input type="number" name="collaborationCost" />
                            </li>
                            <li>
                                <p>招生老师：</p>
                                <select name="teacher" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>性别：</p>
                                <select name="sex" th:with="type=${@dict.getType('sys_user_sex')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>民族：</p>
                                <input type="text" name="nation"/>
                            </li>
                            <li>
                                <p>身份证号码：</p>
                                <input type="text" name="idnumber"/>
                            </li>
                            <li>
                                <p>层次：</p>
                                <select name="level" th:with="type=${@dict.getType('sys_edu_level')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>报读学校：</p>
                                <select name="school" th:with="type=${@dict.getType('sys_edu_school')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>报读专业：</p>
                                <select name="major" th:with="type=${@dict.getType('sys_edu_major')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>批次：</p>
                                <input type="text" name="batch"/>
                            </li>
                            <li th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('showFee') == ''}">
                                <p>总费用：</p>
                                <input type="text" name="totalCharge"/>
                            </li>
                            <li th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('showFee') == ''}">
                                <p>第一年费用：</p>
                                <input type="text" name="oneyearCharge"/>
                            </li>
                            <li th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('showFee') == ''}">
                                <p>第二年费用：</p>
                                <input type="text" name="twoyearCharge"/>
                            </li>
                            <li>
                                <p>缴费情况：</p>
                                <select name="chargeDetail" th:with="type=${@dict.getType('sys_edu_charge')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>毕业情况：</p>
                                <select name="graduateDetail" th:with="type=${@dict.getType('sys_edu_grade')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="bussiness:university:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="bussiness:university:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="bussiness:university:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="bussiness:university:import">
                    <i class="fa fa-upload"></i> 导入
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="bussiness:university:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('bussiness:university:edit')}]];
        var removeFlag = [[${@permission.hasPermi('bussiness:university:remove')}]];
        var collaborationStationDatas = [[${@dict.getType('sys_edu_correspondence')}]];
        var sexDatas = [[${@dict.getType('sys_user_sex')}]];
        var levelDatas = [[${@dict.getType('sys_edu_level')}]];
        var schoolDatas = [[${@dict.getType('sys_edu_school')}]];
        var majorDatas = [[${@dict.getType('sys_edu_major')}]];
        var chargeDetailDatas = [[${@dict.getType('sys_edu_charge')}]];
        var graduateDetailDatas = [[${@dict.getType('sys_edu_grade')}]];
        var prefix = ctx + "bussiness/university";
        var hasRole1 = [[${@permission.hasRole('admin')}]];
        var hasRole2 = [[${@permission.hasRole('showFee')}]];
        var hasRole3 = [[${@permission.hasRole('showcost')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "国家开放大学",
                onLoadSuccess: function () {
                    if(hasRole2=="hidden"){
                        $('#bootstrap-table').bootstrapTable('hideColumn', 'totalCharge');
                        $('#bootstrap-table').bootstrapTable('hideColumn', 'oneyearCharge');
                        $('#bootstrap-table').bootstrapTable('hideColumn', 'twoyearCharge');
                    }
                    if(hasRole3=="hidden"){
                        $('#bootstrap-table').bootstrapTable('hideColumn', 'collaborationCost');
                    }
                    if(hasRole1==""){
                        $('#bootstrap-table').bootstrapTable('showColumn', 'totalCharge');
                        $('#bootstrap-table').bootstrapTable('showColumn', 'oneyearCharge');
                        $('#bootstrap-table').bootstrapTable('showColumn', 'twoyearCharge');
                        $('#bootstrap-table').bootstrapTable('showColumn', 'collaborationCost');
                    }
                },
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '主键id',
                    visible: false
                },
                {
                    field : 'userName', 
                    title : '操作人'
                },
                {
                    field : 'collaborationStation', 
                    title : '合作站',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(collaborationStationDatas, value);
                    }
                },
                {
                    field : 'collaborationCost', 
                    title : '合作费用'
                },
                {
                    field : 'teacher', 
                    title : '招生老师'
                },
                {
                    field : 'name', 
                    title : '姓名'
                },
                {
                    field : 'sex', 
                    title : '性别',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(sexDatas, value);
                    }
                },
                {
                    field : 'nation', 
                    title : '民族'
                },
                {
                    field : 'idnumber', 
                    title : '身份证号码'
                },
                {
                    field : 'level', 
                    title : '层次',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(levelDatas, value);
                    }
                },
                {
                    field : 'school', 
                    title : '报读学校',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(schoolDatas, value);
                    }
                },
                {
                    field : 'major', 
                    title : '报读专业',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(majorDatas, value);
                    }
                },
                {
                    field : 'batch', 
                    title : '批次'
                },
                {
                    field : 'totalCharge', 
                    title : '总费用'
                },
                {
                    field : 'oneyearCharge', 
                    title : '第一年费用'
                },
                {
                    field : 'twoyearCharge', 
                    title : '第二年费用'
                },
                {
                    field : 'chargeDetail', 
                    title : '缴费情况',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(chargeDetailDatas, value);
                    }
                },
                {
                    field : 'graduateDetail', 
                    title : '毕业情况',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(graduateDetailDatas, value);
                    }
                },
                {
                    field : 'remark', 
                    title : '备注信息'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                导入国家开放大学
                &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>
</html>