<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改自学考试')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-selfexam-edit" th:object="${selfExam}">
            <input name="selfId" th:field="*{selfId}" type="hidden">
            <div class="form-group" th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('isupdate') == ''}">
                <label class="col-sm-3 control-label">操作人：</label>
                <div class="col-sm-8">
                    <select name="userId" class="form-control m-b" th:with="type=${@user.getAllUser()}">
                        <option th:each="user : ${type}" th:text="${user.userName}" th:value="${user.userId}" th:field="*{userId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">合作站：</label>
                <div class="col-sm-8">
                    <select name="collaborationStation" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_correspondence')}">
                        <option value="-">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{collaborationStation}"></option>
                    </select>
                </div>
            </div>
            <div th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('showcost') == ''}">
            <div class="form-group">
                <label class="col-sm-3 control-label">合作费用：</label>
                <div class="col-sm-8">
                    <input name="collaborationCost" th:field="*{collaborationCost}" class="form-control" type="number">
                </div>
            </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">招生老师：</label>
                <div class="col-sm-8">
                    <input name="selfTeacher" th:field="*{selfTeacher}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="selfName" th:field="*{selfName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <select name="selfSex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{selfSex}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">民族：</label>
                <div class="col-sm-8">
                    <input name="selfNation" th:field="*{selfNation}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证号：</label>
                <div class="col-sm-8">
                    <input name="selfIdnumber" th:field="*{selfIdnumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">层次：</label>
                <div class="col-sm-8">
                    <select name="selfLevel" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_level')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{selfLevel}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">类别：</label>
                <div class="col-sm-8">
                    <select name="selfType" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{selfType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报读学校：</label>
                <div class="col-sm-8">
                    <select name="selfSchool" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_school')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{selfSchool}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报读专业：</label>
                <div class="col-sm-8">
                    <select name="selfMajor" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_major')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{selfMajor}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">考生号：</label>
                <div class="col-sm-8">
                    <input name="selfStudentNumber" th:field="*{selfStudentNumber}" class="form-control" type="text">
                </div>
            </div>
            <div th:if="${@permission.hasRole('admin') == '' || @permission.hasRole('showFee') == ''}">
            <div class="form-group">    
                <label class="col-sm-3 control-label">总费用：</label>
                <div class="col-sm-8">
                    <input name="selfTotalCharge" th:field="*{selfTotalCharge}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">第一年缴费：</label>
                <div class="col-sm-8">
                    <input name="selfOneyearCharge" th:field="*{selfOneyearCharge}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">第二年缴费：</label>
                <div class="col-sm-8">
                    <input name="selfTwoyearCharge" th:field="*{selfTwoyearCharge}" class="form-control" type="text">
                </div>
            </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">缴费情况：</label>
                <div class="col-sm-8">
                    <select name="selfChargeDetail" class="form-control m-b" th:with="type=${@dict.getType('sys_edu_charge')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{selfChargeDetail}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注信息：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control" th:field="*{remark}"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "bussiness/selfexam";
        $("#form-selfexam-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-selfexam-edit').serialize());
            }
        }
    </script>
</body>
</html>